<!-- Top Bar -->
<section id="" class="p-3 text-white" style="background-color:rgb(18, 18, 26);">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><i class="fas fa-phone"></i>017898989102</div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open"></i> info@lighton.com
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a href="twitter.com/lighton"> <i class="fab fa-twitter text-white"></i> </a>
          <a href="fb.com/lighton"> <i class="fab fa-facebook text-white"></i> </a>
          <a href="ig.com/lighton"> <i class="fab fa-instagram text-white"></i> </a>
        </div>
      </div>
    </div>
  </div>
</section>
